@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
	background-color: gray;
}

#tei_wrapper {
	max-width: 40em;
	background-color: white;
	padding: 5em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
	margin-bottom: 1em;
}

#tei_wrapper p {
	text-align: justify;
}

#fontebd {
 	text-align: center!important;
	font-size: 16px;
	font-style: italic;
	color: white;
}
#fontebd a {
	color: white;
	text-decoration: underline;
}

@media screen and (max-width: 768px) {
	#tei_wrapper {
		padding: 2em;
	}
}

titleStmt > tei-title {
	text-align: center;
	padding-bottom: 10px;
	line-height: 1.5;
	font-size:170%;
}

titleStmt > author {
	text-align: center;
	padding-bottom: 10px;
}

sourceDesc {
	line-height: 1.5;
	display: block;
	margin-left: 50%;
	text-align: right;
	font-size: 80%;
	margin-top: 40px;
	margin-bottom: 20px;
}

bibl {
	display: block;
 	margin-bottom: 1em;
}

bibl > tei-title {
 	font-style: italic;
}

div > head {
	font-size: 150%;
	text-indent: -0.5em;
	margin-top: 2em;
}

closer {
	text-align: right;
	display: block;	
}

opener {
	text-align: right;
	display: block;	
}


#nav-menu-button {
	height: 35px;
	width: 35px;
	margin-right: 30px;
	display: inline-block;
	position: relative;
  	cursor: pointer;
}


.line {
	position: absolute;
	height: 3px;
	width: 90%;
	background: black;
	transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}
.top { top: 18% }
.middle { top: 48% }
.bottom { top: 78% }

.icon.close .top {
	transform: rotate(45deg);
	top: 48%;
}

.icon.close .middle, .icon.close .bottom {
	transform: rotate(-45deg);
	top: 48%;
}

#nav-menu {
	box-sizing: border-box;
	position: fixed;
	margin: 0;
	bottom: 0;
	right: -310px;
	height: calc(100% - 70px);
	width: 300px;
	z-index: 0;
	padding: 15px 15px 20px 20px;
	overflow-y: scroll;
	background: #000;
	color: #999;
	transition: 300ms ease;
}

#nav-menu.active { right: 0px }

#nav-menu > h1 {
	color: #999;
	margin: 0;
	margin-bottom: 15px;
	font-size: 1.5em;
}
 
a[data-depth="2"] { margin-left: 20px } 
a[data-depth="3"] { margin-left: 40px } 
a[data-depth="4"] { margin-left: 60px } 
a[data-depth="5"] { margin-left: 80px } 
a[data-depth="6"] { margin-left: 100px } 
a[data-depth="7"] { margin-left: 120px } 
a[data-depth="8"] { margin-left: 140px } 
a[data-depth="9"] { margin-left: 160px } 
a[data-depth="10"] { margin-left: 180px } 
a[data-depth="11"] { margin-left: 200px } 

#nav-menu a {
	display: block;
	cursor: pointer;
	margin-bottom: 3px;
	transition: 200ms ease;
	text-decoration: none;
	padding-left: 0.8em;
    text-indent: -0.8em;
}

#nav-menu a:hover {
	color: #fff;
	transform: scale(1.05);
}

#nav-menu a::before {
	content: "\2022      ";
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: -200px;
	left: 0;
	width: 100%;
	height: 70px;
	z-index: 999;
	background: white;
	box-shadow: 4px 0 5px 0 #999;
	transition: 300ms ease;
}

header.active { top: 0px }

.logo-bdlp {
	color: black;
	text-decoration: none;
	margin-left: 40px;
	font-weight: 600;
	font-size: 1.4em;
	transition: 500ms ease;
	text-transform: uppercase;
	font-family: "Source Sans Pro", sans-serif;
} 

a.logo-bdlp  {
	color: #000;
	text-decoration: none;
}

a.logo-bdlp:hover, a.logo-bdlp:active  {
  color: #66D37E;
}

header, #nav-menu {
	font-family: "Oxygen", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.7;
}