@media screen and (max-width: 768px) {
    
    header {
        height: 60px
    }

    .logo-bdlp {
        margin-left: 20px;
    }

    header nav {
        margin-right: 20px;
    }

    .menu-button {
        margin-left: 30px;
    }

    #index-menu {
        top: 60px;
        height: calc(100vh - 60px);
        width: 220px;
    }

    #tei-wrapper {
        padding: 2em;
        margin-top: 4em;
    }

}

/* @media screen and (max-width: 450px) {
    
    l {
        padding-left: 50%;
        text-indent: -110%;
    }

    lg {
        margin-bottom: 50px;
    }

} */